.profile {
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile__layout-without-header-footer {
  padding: 34px calc(179px + (435 - 179) * ((100vw - 768px) / (1280 - 768)))
    70px;
  height: calc(100vh - 74px);
}

.profile__auth-form {
  .auth-form__title {
    text-align: center;
    margin-bottom: 124px;
  }
  .input__name {
    display: flex;
    white-space: nowrap;
    color: var(--common-text-color);
    font-weight: 500;
  }
  .input:last-of-type .input__name {
    border: none;
  }

  .input__field {
    text-align: right;
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 11px;
  }
  .input__error-message {
    font-size: 8px;
  }
}

.auth-form__submit_place_profile {
  background-color: #fff;
  color: var(--common-text-color);
  font-size: 13px;
  padding: 0;
}
.profile__layout-without-header-footer {
  .logo {
    display: none;
  }

  .layout-without-header-footer__link {
    color: #ee3465;
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .profile__layout-without-header-footer {
    padding-left: 435px;
    padding-right: 435px;
  }
}
@media screen and (max-width: 768px) {
  .profile__layout-without-header-footer {
    padding: 199px calc(30px + (179 - 30) * ((100vw - 320px) / (768 - 320)))
      269px;

    .auth-form__title {
      margin-bottom: 95px;
    }
  }
}
@media screen and (max-width: 520px) {
  .profile__layout-without-header-footer {
    padding-top: 20px;
    padding-bottom: 40px;
    .auth-form__title {
      margin-bottom: 80px;
    }
  }
}
