.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.header_place_main {
  background-color: var(--promo-background-color);
}
