.account-button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 32px;
  min-width: 100px;
  background: transparent;
  border-radius: 16px;
  /* background-image: url(../../images/account_logo.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 12px; */
  padding: 0 12px;

  text-align: right;
}
.account-button__img {
  margin-right: 7px;
}
