.saved-movies {
  background-color: var(--light-background-color);
  padding: 60px 0 30px;
}

.saved-movies__section-template {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .saved-saved-movies__section-template {
    padding: 0 var(--alter-side-paddings-768);
  }
}
@media screen and (max-width: 520px) {
  .saved-saved-movies__section-template {
    padding: 0 var(--movie-side-paddings-320);
  }
}
