.header {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--side-paddings-1280);
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  justify-content: start;
  align-items: center;
  min-height: 74px;
}

.header_loggedIn {
  grid-template-columns: min-content min-content 1fr min-content;
}

.header__link {
  color: var(--common-text-color);
  font-size: var(--nav-text-size);
  margin-left: 16px;
  text-decoration: none;
  font-weight: 400;
  display: none;
  cursor: pointer;
}
.header__link:hover {
  opacity: 0.6;
}
.header__link_active {
  font-weight: 500;
}

.header__link_visible {
  display: block;
}
.header__link_position_right {
  justify-self: flex-end;
}
.header__link_type_enter {
  padding: 8px 18px;
  background-color: var(--ui-elements-color);
  color: var(--text-color-in-ui-el);
  font-weight: 500;
  line-height: 1.333;
  border-radius: 3px;
  margin-left: 27px;
}
.header__burger-button {
  justify-self: end;
}
@media screen and (max-width: 768px) {
  .header {
    background-color: var(--header-background-color);
    grid-template-columns: min-content 1fr min-content;
    padding: 0 var(--alter-side-paddings-768);
  }

  .header__link_type_enter {
    padding: 8px 20px;
    margin-left: 31px;
  }

  .header_loggedIn {
    grid-template-columns: 1fr 1fr;
  }
  .header__nav-link {
    display: none;
  }
  .header__link {
    font-size: var(--nav-text-size-768);
  }
}
@media screen and (max-width: 520px) {
  .header {
    padding: 0 var(--alter-side-paddings-320);
  }
  .header__burger-button {
    max-width: 25px;
    max-height: 25px;
  }
  .header__link {
    font-size: var(--nav-text-size-320);
  }

  .header__link_type_enter {
    padding: 5px 12px;
    margin-left: 14px;
  }
}
