.promo {
  display: flex;
  justify-content: center;

  background-color: var(--promo-background-color);
  min-height: 524px;
  width: 100%;
  background-image: url(../../../images/promo_backgroung_image.png);
  background-repeat: no-repeat;
  background-position: center top 82px;
}
.promo__titlte {
  margin-top: 184px;
  max-width: 720px;
  font-size: var(--title-size);
  color: var(--common-text-color);
  font-weight: 400;
  text-align: center;
  letter-spacing: -2px;
}
