.section-template {
  box-sizing: border-box;
  width: 100%;
  padding: 0 var(--side-paddings-1280);
}
@media screen and (max-width: 768px) {
  .section-template {
    padding: 0 var(--side-paddings-768);
  }
}
@media screen and (max-width: 520px) {
  .section-template {
    padding: 0 var(--side-paddings-320);
  }
}
